<div id="display-player" class="panel panel-primary">
    <div class="panel-body row">
        <div class="col-md-6">
            <div class="xlvo_shortlink well text-center"><h3>{PIN}</h3></div>
            <div class="xlvo_shortlink well text-center"><h3>{SHORTLINK}</h3></div>
            <div class="xlvo_shortlink well text-center"><h3 id="xlvo-attendees">{ONLINE_TEXT}</h3></div>
        </div>
        <div class="col-md-6">
            <div class="xlvo_cm_qr well text-center">
                <img src="{QR-CODE}">
            </div>
        </div>
    </div>
    <div id="xlvo-nickname-list" class="panel-body row">
    </div>
</div>