<style>
	.flex{
		display: flex;
	}

	.flex-column{
		flex-direction: column;
	}

	.w-100{
		width: 100%;
	}

	.gap-2{
		gap: 0.5rem;
	}

	.shrink-0{
		flex-shrink: 0;
	}

	.text-success{
		color: #28a745;
	}

	.items-center{
		align-items: center;
	}

	.points{
		font-size: 1.5rem;
	}

	.score{
		padding: 0.5rem 1rem;
		border: 1px solid #e9ecef;
		border-radius: 0.25rem;
		background-color:#e1e1e1;
	}

	.score h1{
		font-size: 1.5rem;
		margin:0;
	}


</style>
<div class="flex flex-column gap-2">
	<div class="w-100 flex gap-2 items-center score">
		<h1 class="w-100">Player 1</h1>
		<div class="shrink-0 text-success points"> 120 PTS.</div>
	</div>
	<div class="w-100 flex gap-2 items-center score">
		<h1 class="w-100">Player 2</h1>
		<div class="shrink-0 text-success points"> 120 PTS.</div>
	</div>
	<div class="w-100 flex gap-2 items-center score">
		<h1 class="w-100">Player 3</h1>
		<div class="shrink-0 text-success points"> 120 PTS.</div>
	</div>
	<div class="w-100 flex gap-2 items-center score">
		<h1 class="w-100">Player 4</h1>
		<div class="shrink-0 text-success points"> 120 PTS.</div>
	</div>
</div>