<input type="hidden" name="vote_id" value="{VOTE_ID}">
<!-- BEGIN voted -->
<p>{YOUR_ORDER}</p>
<!-- END voted -->
<ul id="lvo_bar_movable" class="list-group">
	<!-- BEGIN option -->
	<li class="list-group-item list-group-item-heading">

		<div class="option-list"><div class="option-letter">{OPTION_LETTER}</div>&nbsp;{OPTION}</div>
		<input class="lvo_bar_movable_item" type="hidden" name="id[]" value="{ID}">
		<div class="move-helper"><span class="glyphicon glyphicon-resize-vertical"></span></div>
	</li>
	<!-- END option -->
</ul>
