.order-input-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    gap: 0.5rem;
    align-items: flex-end;
}

.order-input-container .inputs {
    flex-grow: 1;
}

.order-input-container .action-buttons {
    flex-shrink: 0;
    padding: 0;
}

.order-input-container .action-buttons .btn {
    height: 26px;
}